* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
}

header {
    background-color: rgb(66, 66, 207);
    color: white;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    font-style: italic;
}

.header-buttons h3 {
    float: left;
    margin: 0 8px;
}

.about {
    width: 62%;
    margin: 0 auto;
    display: flex;
}

.about div {
    margin-left: 2em;
}

.about div h2,
.shoes {
    border-bottom: 3px solid rgb(66, 66, 207);
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    color: rgb(66, 66, 207);
    font-style: italic;
}

.about img {
    float: left;
}

.container {
    width: 62%;
    margin: 0 auto;
    margin-top: 5vh;
}

.item-card {
    border: 1px solid black;
    width: 251px;
}

.item-card h2 {
    margin-top: 2vh;
}

.item-card p {
    margin-top: 1vh;
}

.produtos {
    display: flex;
}

.cards-container {
    display: flex;
}


