* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
}

body {
    background-color: rgb(243, 243, 243);
}

header {
    background-color: rgb(66, 66, 207);
    color: white;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    font-style: italic;
}

.header-buttons h3 {
    float: left;
    margin: 0 8px;
}

.about {
    width: 62%;
    margin: 0 auto;
    display: flex;
}

.about div {
    margin-left: 2em;
}

img {
    width: 225px;
    height: 225px;
}

.about div h2,
.shoes {
    border-bottom: 3px solid rgb(66, 66, 207);
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    color: rgb(66, 66, 207);
    font-style: italic;
}

.container {
    width: 62%;
    margin: 0 auto;
    margin-top: 5vh;
}

.item-card {
    width: 226px;
}

.item-card h2 {
    margin-top: 2vh;
}

.item-card p {
    margin-top: 1vh;
}

.produtos {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.item-card button {
    background-color: rgb(66, 66, 207);
    color: white;
    width: 100%;
    height: 10%;
    border: none;
    border-radius: 5px;
    margin-top: 3%;
}

@media (max-width: 1024px) {

    .cards-container {
        flex-wrap: wrap;
    }

    .item-card {
        width: 48%;
        margin-bottom: 20px;
        margin-top: 5%;
    }
    
    .about {
        width: 100vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 90%;
        margin: 0 auto;
        margin-top: 5vh;
    }
    
    img {
        width: 225px;
        height: 225px;
    }

    .about img {
        margin: 0 auto;
        height: 70%;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .header-buttons {
        display: flex;
        flex-direction: column;
    }

    .about img {
        margin: 0 auto;
        width: 100%;
    }

    .cards-container {
        flex-wrap: wrap;
    }

    .item-card {
        width: 80%;
        margin-bottom: 20px;
        margin-top: 3em;
    }
    
}

